<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="name">kiểm tra quyền tập tin</item>
	<item id="version">1.0.1</item>
	<item id="author">Monkey</item>
	<item id="date">2008-6-16</item>
	<item id="lastmodified">2021-5-20</item>
	<item id="copyright">Comsenz all</item>
	<item id="tabindex">2</item>
	<item id="tips">Kiểm tra xem tệp UCenter đã được sửa đổi hay chưa.</item>
	<item id="lang">
		<item id="plugin_filecheck_modifed">Tệp đã sửa đổi</item>
		<item id="plugin_filecheck_deleted">Thiếu tập tin</item>
		<item id="plugin_filecheck_unknow">Tập tin không xác định</item>
		<item id="plugin_filecheck_modifed_in_aweek">Cập nhật trong vòng một tuần</item>
	</item>
</root>